.header-container {
  background-color: #965851;
  height: 30vw;
  display: flex;

 .header-text {
    margin: auto;
    font-size: 1rem;
    color: white;
 }

  .logout-icon {
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
}
